In [42]:
import pandas as pd 
import numpy as np

In [43]:
learning_signals = pd.read_csv('/Users/67981492/Dropbox/volatileValues/simple_rt_experiment_probabilityC/analysis/aggregated_data/probC_sim_learning_signals.csv')
obs_df = pd.read_csv('/Users/67981492/Dropbox/volatileValues/simple_rt_experiment_probabilityC/analysis/aggregated_data/cleaned_probC_data_test.csv')

In [44]:
learning_signals.columns = learning_signals.columns.str.strip()
obs_df.columns = obs_df.columns.str.strip()

In [11]:
print(np.corrcoef(learning_signals.cpp,learning_signals.B))

[[1.         0.01120759]
 [0.01120759 1.        ]]

In [51]:
obs_df['test_sub_idx'] = learning_signals.subj_idx

In [55]:
#need to re-order these. get belief for subject x with cond y. add to column. 
obs_df[['test_sub_idx','ID']]

       test_sub_idx   ID
0               761  776
1               761  776
2               761  776
3               761  776
4               761  776
5               761  776
6               761  776
7               761  776
8               761  776
9               761  776
10              761  776
11              761  776
12              761  776
13              761  776
14              761  776
15              761  776
16              761  776
17              761  776
18              761  776
19              761  776
20              761  776
21              761  776
22              761  776
23              761  776
24              761  776
25              761  776
26              761  776
27              761  776
28              761  776
29              761  776
...             ...  ...
47970           781  780
47971           781  780
47972           781  780
47973           781  780
47974           781  780
47975           781  780
47976           781  780
47977           781  780
47978           781  780
47979           781  780
47980           781  780
47981           781  780
47982           781  780
47983           781  780
47984           781  780
47985           781  780
47986           781  780
47987           781  780
47988           781  780
47989           781  780
47990           781  780
47991           781  780
47992           781  780
47993           781  780
47994           781  780
47995           781  780
47996           781  780
47997           781  780
47998           781  780
47999           781  780

[48000 rows x 2 columns]